useDynLib(dcdflib, .registration = TRUE, .fixes = "C_")
                                        # <--> src/init.c

## At the moment everything
export(bgrat
     , bratio

     , cdfbet, cdfbetV
     , cdfbin, cdfbinV
     , cdfchi, cdfchiV
     , cdfchn, cdfchnV
     , cdff, cdffnc, cdffncV, cdffV
     , cdfgam, cdfgamV
     , cdfnbn, cdfnbnV
     , cdfnor, cdfnorV
     , cdfpoi, cdfpoiV
     , cdft, cdftnc, cdftncV, cdftV

     , cumbet
     , cumbin
     , cumchi
     , cumchn
     , cumf
     , cumfnc
     , cumgam
     , cumnbn
     , cumnor
     , cumpoi
     , cumt
     , cumtnc

     , gaminv
     , grat1, gratio
                                        #, is1
     , pbetaB, pbinomB, pchisqB, pfB, pgammaB
     , pni
     , pnormB, ptB, ptnc
     , qbetaB, qbinomB, qchisqB, qfB, qgammaB
     , qnormB, qtB, qtnc
     , tfchiV, tncV
)
