importFrom("DPQ"
         , dntJKBf # ~/R/Pkgs/DPQ/R/t-nonc-fn.R
         , dtWV
# DPQ 0.4-0: , .suppHyper
)

importFrom("Rmpfr"
         , mpfr, getPrec, Const
         , asNumeric
         , dnorm, pnorm
         , dpois
)

importFrom("gmp"
         , chooseZ
)

importClassesFrom("Rmpfr"
                , "mpfr", "mpfrMatrix", "mpfrArray"
)

## importFrom("sfsmisc"
##          , mult.fig
##      )


importFrom("stats"
         , stats__dnorm = dnorm
         , stats__pnorm = pnorm
         , qnorm
         , stats__dpois = dpois
         , ppois, qpois
         , stats__dbinom = dbinom
         , dbeta, pbeta, qbeta
         , dgamma, pgamma, qgamma
         , dchisq, pchisq
)

importFrom("methods"
         , new # <- seems not sufficient? R CMD check still wants me to import 'new'
           ## trying these additionally to see if it helps -- it does not
         , initialize, as, coerce
           )

importFrom("utils"
         , str
           )

### ------------------ Exports -------------------------------------------------

## R/pbeta-Ding94.R :
export(dbetaD94, pbetaD94, qbetaD94)
## R/hyperDist.R :
export(dhyperQ, phyperQ, phyperQall)# simple via chooseZ()
## R/t-nonc.R :
export(dntJKBm)

