importFrom("DPQ"
         , dnt
)

importFrom("Rmpfr"
         , mpfr, getPrec, Const
         , dnorm, pnorm
         , dpois
)

importClassesFrom("Rmpfr"
                , "mpfr", "mpfrMatrix", "mpfrArray"
)

## importFrom("sfsmisc"
##          , mult.fig
##      )



importFrom("stats"
         , stats__dnorm = dnorm
         , stats__pnorm = pnorm
         , qnorm
         , stats__dpois = dpois
         , ppois, qpois
         , stats__dbinom = dbinom
         , dbeta, pbeta, qbeta
         , dgamma, pgamma, qgamma
         , dchisq, pchisq
)

importFrom("methods"
         , new
           )

importFrom("utils"
         , str
           )

## For now export everything
exportPattern("^[^.]")

