useDynLib(Bessel)

importFrom("methods", as, is, slot)
importFrom("Rmpfr", mpfr, apply, asNumeric, colSums)

## These are the  TOMS 644  R-interface functions :

export(BesselI,
       BesselJ,
       BesselK,
       BesselY)

export(BesselH,
       AiryA, AiryB)

## -------------------------------

export(besselIs,
       bI, ## <-  deprecated on 2014-12-13
       besselIasym,
       besselI.ftrms,
       besselI.nuAsym,

#not yet besselKasym,
       besselK.nuAsym)

