useDynLib(DPQ, .registration = TRUE, .fixes = "C_")
                                        # <--> src/init.c

## We do *NOT* import from  Rmpfr here,
## as we only __suggest__ the package in ./DESCRIPTION
##  ==> where we use it we check every time if it's load()able ...

importFrom("sfsmisc"
         , eaxis
         , mult.fig
     )

importFrom("stats"
         , dnorm, pnorm, qnorm
         , dbeta, pbeta, qbeta
         , dgamma, pgamma, qgamma
         , dchisq, pchisq, qchisq
         , df, pf, qf
         , dt, pt, qt
         , dpois, ppois, qpois
)

importFrom("graphics",
           curve, legend, lines, par, plot
           )

importFrom("methods", is, new
           )

importFrom("utils"
         , str
           )

### ----------------------- Exporting ----------------------------

## For now export everything (but the C_*() C routines
export(
    ## R/dpq-h.R
    ## ---------
    ".D_0", ".D_1"
  , ".D_Clog", ".D_Cval", ".D_exp"
  , ".D_LExp", ".D_log", ".D_Lval", ".D_qIv", ".D_val"
  , ".DT_0", ".DT_1"
  , ".DT_Cexp", ".DT_CIv", ".DT_Clog", ".DT_Cval", ".DT_exp", ".DT_log", ".DT_Log"
  , ".DT_qIv", ".DT_val"
  , log1.Exp
  , M.LN2, M_cutoff
  , G_half

  , .dntJKBch, .dntJKBch1


  , Qab.terms

  , all_mpfr, any_mpfr # simple wrappers in  R/utils.R

  , b_chi, b_chiAsymp
  , lb_chi0, lb_chi00, lb_chiAsymp

  , beta.n

  , c_dt, c_dtAsymp, c_pt ## related to lb_chi*() above FIXME

  , dchisqAsym
  , dnchisqBessel, dnchisqR
  , dnoncentchisq
  , dntJKBf, dntJKBf1
  , dntRwrong, dntRwrong1
  , dtnc # RENAME!  from Wolfgang Viechtbauer, 2002 -- => add to DESCRIPTION Authors as 'ctb'

  , err.lambd0, err.lambd1, err.lambda # << FIXME, currently *print* and compute
  , form01.prec
  , g2, gnt
  , h, h0, h1, h2, hnt

  , lbeta.asy, lbeta.n, lbeta.n.half, lbetaM, lbetaMM

  , lgamma1p., lgamma1p, lgamma1p_series
  , log1pmx
  , logQab.asy
  , logcf, logr
  , lssum, lsum

  , newton # R/pnchisq.R
  , nu.lam.expr
  , p.dnchiB # plot -- rename ?
  , plRpois

  , pchisqV, pchisqW., pchisqW, pchisqW.R

  , pbetaRv1
  , pnbetaAppr2, pnbetaAppr2v1 ## rename?

  ## Naming -fixme?
  , pnchisq
  , pnchisqAbdelAty, pnchisqPatnaik, pnchisqPearson, pnchisqSankaran_d
  , pnchisq_ss, pnchisqIT, pnchisqTerms, pnchisqV

  ## Naming -fixme?
  , pnt3150, pnt3150.1
  , pntChShP94, pntChShP94.1
  , pntJW39, pntJW39.0
  , pntLrg
  , pntP94, pntP94.1
  , pntR, pntR1

  , ppoisD

  , qbetaAppr, qbetaAppr.1, qbetaAppr.2, qbetaAppr.3, qbetaAppr.4, qbeta.R
  , qgamma.R

  , dgamma.R
  , dpois_raw, bd0, stirlerr

    ## from R/qchisqAppr.R :
  , qchisqAppr.R
  , qchisqAppr
  , qchisqKG, qchisqWH
  , .qgammaApprBnd

    ## from R/qnchisq.R
  , qchisqAppr.0, qchisqAppr.1, qchisqAppr.2, qchisqAppr.3
  , qchisqApprCF1, qchisqApprCF2, qchisqCappr.2
  , qchisq2, qchisqA
  , qnchisqAbdelAty, qnchisqPatnaik, qnchisqPearson, qnchisqSankaran_d

  , qgammaAppr, qgammaApprSmallP, qgammaApprKG

  , qnormAppr, qnormUappr
  , qtAppr
  , r_pois, r_pois_expr
  , qs ## ??
  , sW, ss, ss2, ss2.
  , z.f, z.s, z0
  , scalefactor
    ## no! titleR.exp (FIXME eventually: should not need such a global)
)
